<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To do app in spirng boot</title>
    <style>
        .text-strike{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<h1>To do application</h1>
<div>
    <form action="/tasks" method="post">
        <div>
            <input type="text" name="title" placeholder="Enter task title" required>
        </div>
        <div>
            <button type="submit">Add Task</button>
        </div>
    </form>
    <ul>
            <li th:each="task : ${tasks}">
                <span th:classappend="${task.completed} ? 'text-strike'" th:text="${task.title}">Task Title</span>
                <button><a th:href="@{/tasks/{id}/delete(id=${task.id})}">Delete</a></button>
                <button><a th:href="@{/tasks/{id}/toggle(id=${task.id})}">Toggle</a></button>
            </li>

    </ul>

</div>
</body>
</html>